<%= turbo_stream.replace "today_list" do %>
  <%= render "pages/today_list" %>
<% end %>

<%= turbo_stream.replace "backlog_list" do %>
  <%= render "pages/backlog_list" %>
<% end %>

<%= turbo_stream.replace "completed_today_list" do %>
  <%= render "pages/completed_today_list" %>
<% end %>

<%= turbo_stream.replace "today_count" do %>
  <span id="today_count"><%= @today_tasks.size %></span>
<% end %>

<%= turbo_stream.replace "backlog_count" do %>
  <span id="backlog_count"><%= @backlog_tasks.size %></span>
<% end %>

<%= turbo_stream.replace "completed_today_count" do %>
  <span id="completed_today_count"><%= @completed_today_tasks.size %></span>
<% end %>
