<% content_for :title, "Projects" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-6">
    <h1 class="font-bold text-4xl">Projects</h1>
    <%= link_to "New project", new_project_path, class: "btn btn-soft btn-primary" if policy(Project.new).new? %>
  </div>

  <%= turbo_stream_from "projects" %>

  <%= render(PaginatedListComponent.new(
    filter_url: projects_path,
    frame_id: "projects_index_list",
    filter_param: "project_name",
    filter_placeholder: "Filter projects by name...",
    title: nil,
    current_filter: params[:project_name]
  )) do %>
    <%= render partial: "projects/projects_index_content", locals: {
      pagy_projects: @pagy_projects,
      projects: @projects
    } %>
  <% end %>
</div>
