<% content_for :title, "Showing organization" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing organization</h1>

  <%= render @organization %>

  <!-- Attachments Section -->
  <%= render "shared/attachments_section", record: @organization, can_upload: policy(@organization).update? %>

  <!-- Notes Section -->
  <%= render "shared/notes_section", record: @organization, can_create: policy(@organization).update? %>

  <!-- Links Section -->
  <%= render "shared/links_section", record: @organization, can_create: policy(@organization).update? %>

  <div class="flex flex-wrap gap-2 mt-4">
    <%= link_to "Edit this organization", edit_organization_path(@organization), class: "btn btn-soft" if policy(@organization).edit? %>
    <%= link_to "Back to organizations", organizations_path, class: "btn btn-soft" %>
    <%= button_to "Destroy this organization", @organization, method: :delete, form_class: "inline-block", class: "btn btn-soft btn-secondary", data: { turbo_confirm: "Are you sure?" }  if policy(@organization).destroy? %>
  </div>
</div>
