<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Task Manager" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes Tailwind CSS build and custom app styles %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "app", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "marksmith" %>
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="theme">
    <%= turbo_stream_from "flash" %>
    <div id="flash-container" class="fixed top-4 right-4 space-y-2">
      <%= render "application/flash" if flash.any? %>
    </div>
    <% if content_for?(:custom_layout) %>
      <%= yield(:custom_layout) %>
    <% else %>
      <div class="size-full">
        <div class="flex">
          <%= render partial: "application/sidebar" if user_signed_in? %>
          <div class="flex h-screen min-w-0 grow flex-col overflow-auto">
            <%= render partial: "application/topbar" if user_signed_in? %>
            <div id="layout-content">
              <%= yield %>
            </div>
            <%= render partial: "application/footer" if user_signed_in? %>
          </div>
        </div>
      </div>
    <% end %>
  </body>
</html>
